.App-logo-container {
  display: flex;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }

  .App-logo:nth-child(even) {
    animation-direction: reverse;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-logo-buttons {
  display: grid;
  grid-auto-flow: column;
  column-gap: 20px;
}

.App-logo-buttons > button {
  padding: 5px 10px;
  min-width: 48px;
  font-size: 32px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  outline: none;
  background-color: #61dafb;
}

.App-logo-buttons > button:hover {
  opacity: 0.5;
}